@import 'common';

.customer {
    
}

@mixin titi {
	font-family: 'Titillium Web', sans-serif;
}

.titi {
	font-family: 'Titillium Web', sans-serif;
}

.search-form {
    position: relative;
    .form-group {
        .form-control {
            height: 45px;
            padding-right: 50px;
        }
    }
    .btn-search {
        .btn-default {
            position: absolute;
            top: 1px;
            right: 1px;
            border-radius: 0;
            width: 45px;
            height: 43px;
            border: 0;
            i {
                font-size: 14px;
                color: #e10013;
            }
            &:hover, &:focus {
                background: none;
                opacity: .7;
            }
        }
    }
    @media(min-width: $sm) {
        .form-group {
            .form-control {
                padding-right: 60px;
                height: 57px;
            }
        }
        .btn-search {
            .btn-default {
                width: 57px;
                height: 55px;
            }
        }
    }
}


.page-nav {
    text-align: center;
    .pagination {
        margin: 0;
        li {
            a {
                border: 0;
                background: none !important;
                color: #aeaeae;
                font-size: 18px;
                @include titi();
                &:hover, &:focus {
                    color: #e10013;
                }
            }
            &.active {
                a {
                    color: #e10013;
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
            &.first,
            &.prev,
            &.next,
            &.last {
                a {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            &.prev {
                a {
                    padding-right: 10px;
                }
            }
            &.next {
                a {
                    padding-left: 10px;
                }
            }
        }
    }
}

.download {
    background-image: url(/assets/images/introduction/future_bg.jpg);
    .article-header {
        text-align: center;
        padding: 35px 0 37px;
        .search-txt {
            font-size: 13px;
            color: #666;
            line-height: 24px;
            margin-bottom: 20px;
        }
        @media(min-width: $sm) {
            text-align: right;
            padding: 45px 0 35px;
            .search-txt {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        @media(min-width: $md) {
            padding: 70px 0 65px;
        }
    }
    .article-content {
        padding-bottom: 100px;
        @media(min-width: $sm) {
            padding-bottom: 140px;
        }
        @media(min-width: $md) {
            padding-bottom: 120px;
        }
        .table-wrap {
            .table {
                margin: 0;
                thead {
                    tr {
                        th {
                            font-size: 13px;
                            color: #333;
                            font-weight: 400;
                            border: 0;
                            padding: 20px 0;
                            text-align: center;
                            background-color: #e7e7e7;
                            &:nth-of-type(3) {
                                display: none;
                            }
                            &:nth-of-type(4) {
                                display: none;
                            }
                            @media(min-width: $sm) {
                                font-size: 15px;
                                &:nth-of-type(3) {
                                    display: table-cell;
                                }
                                &:nth-of-type(4) {
                                    display: table-cell;
                                }
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 13px;
                            color: #666;
                            font-weight: 300;
                            border: 0;
                            padding: 0;
                            padding-bottom: 5px;
                            > div {
                                text-align: center;
                                height: 95px;
                                line-height: 95px;
                                background-color: #fff;
                                figure {
                                    line-height: 95px;
                                    .img-responsive {
                                        display: inline-block;
                                    }
                                }
                            }
                            a {
                                img {
                                    display: inline-block;
                                    width: 18px;
                                    @media(min-width: $sm) {
                                        width: 26px;
                                    }
                                }
                            }
                            &:nth-of-type(3) {
                                display: none;
                            }
                            &:nth-of-type(4) {
                                display: none;
                            }
                            @media(min-width: $sm) {
                                font-size: 15px;
                                &:nth-of-type(3) {
                                    display: table-cell;
                                }
                                &:nth-of-type(4) {
                                    display: table-cell;
                                }
                            }
                        }
                        &:first-child {
                            td {
                                padding-top: 12px;
                            }
                        }
                        &:last-child {
                            td {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            margin-top: 30px;
            text-align: center;
            p {
                .btn-orange {
                    width: 300px;
                    height: 48px;
                    font-size: 14px;
                    line-height: 48px;
                    color: #fff;
                    text-align: center;
                    padding: 0;
                    background-color: #f08501;
                    @include transition();
                    &:hover, &:focus {
                        opacity: .7;
                    }
                }
            }
            @media(min-width: $sm) {
                margin-top: 40px;
                text-align: right;
                p {
                    .btn-orange {
                        font-size: 18px;
                        width: 190px;
                    }
                }
            }
        }
        .page-nav {
            margin-top: 45px;
            @media(min-width: $sm) {
                margin-top: 50px;
            }
            @media(min-width: $md) {
                margin-top: 70px;
            }
        }
    }
}

//견적요청/건축솔루션컨설팅/기타문의
.inquire {
    .page-header {
        h2 {
            span {
                display: none;
            }
        }
    }
    article {
        padding-bottom: 120px;
        background-image: url(/assets/images/introduction/future_bg.jpg);
        @media(min-width: $sm) {
            padding-bottom: 140px;
        }
        .article-header {
            text-align: center;
            padding: 50px 0;
            p {
                font-size: 16px;
                color: #555;
                font-weight: 300;
                line-height: 30px;
            }
            @media(min-width: $sm) {
                padding-top: 60px;
                p {
                    font-size: 20px;
                }
            }
            @media(min-width: $md) {
                padding: 60px 0;
            }
        }
        .article-content {
            .table-warp {
                .table {
                    border: 0;
                    border-top: 3px solid #949595;
                    tbody {
                        tr {
                            th {
                                width: 100px;
                                font-size: 13px;
                                color: #333;
                                font-weight: 400;
                                vertical-align: middle;
                                padding-left: 10px;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                background-color: #f8f8f8;
                                label {
                                    font-weight: 400;
                                    margin: 0;
                                }
                                &.v-align {
                                    vertical-align: top;
                                    padding-top: 20px;
                                }
                                @media(min-width: $sm) {
                                    width: 170px;
                                    font-size: 15px;
                                    padding-left: 30px;
                                }
                            }
                            td {
                                font-size: 13px;
                                color: #333;
                                font-weight: 300;
                                vertical-align: middle;
                                padding: 10px;
                                background-color: #fff;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                .form-group {
                                    margin: 0;
                                    .form-control {
                                        width: 100%;
                                        height: 40px;
                                        border: 1px solid #dfdfdf;
                                    }
                                    ul {
                                        font-size: 0;
                                        li {
                                            display: block;
                                            ~ li {
                                                margin-top: 10px;
                                            }
                                            dl {
                                                position: relative;
                                                dt {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 70px;
                                                    font-weight: 300;
                                                    font-size: 13px;
                                                    line-height: 40px;
                                                    color: #333;
                                                    opacity: .6;
                                                    label {
                                                        font-weight: 300;
                                                        margin: 0;
                                                        color: #333;
                                                    }
                                                }
                                                dd {
                                                    padding-left: 70px;
                                                    font-size: 13px;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.u-content {
                                    .form-group {
                                        .form-control {
                                            height: 285px;
                                        }
                                    }
                                }
                                &.file {
                                    .form-group {
                                        position: relative;
                                        padding-right: 70px;
                                        label {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            width: 60px;
                                            height: 40px;
                                            font-size: 13px;
                                            font-weight: 300;
                                            line-height: 40px;
                                            color: #fff;
                                            text-align: center;
                                            background-color: #aeaeaf;
                                        }
                                    }
                                }
                                @media(min-width: $sm) {
                                    padding: 10px 30px;
                                    .form-group {
                                        .form-control {
                                            width: 270px;
                                        }
                                        ul {
                                            li {
                                                dl {
                                                    dt {
                                                        font-size: 15px;
                                                    }
                                                    dd {
                                                        .form-control {
                                                            width: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.e-mail {
                                        .form-control {
                                            width: 100%;
                                        }
                                    }
                                    &.u-content {
                                        .form-control {
                                            width: 100%;
                                        }
                                    }
                                    &.subject {
                                        .form-control {
                                            width: 100%;
                                        }
                                    }
                                    &.file {
                                        .form-group {
                                            padding-right: 155px;
                                            label {
                                                width: 135px;
                                                font-size: 15px;
                                            }
                                        }
                                        .form-control {
                                            width: 100%;
                                        }
                                    }
                                }
                                @media(min-width: $md) {
                                    .form-group {
                                        ul {
                                            li {
                                                display: inline-block;
                                                width: 33%;
                                                ~ li {
                                                    margin-top: 0;
                                                }
                                                dl {
                                                    dt {
                                                        width: 75px;
                                                        font-size: 15px;
                                                    }
                                                    dd {
                                                        padding-left: 75px;
                                                        .form-control {
                                                            width: 140px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                @media(min-width: $lg) {
                                    &.email {
                                        .form-control {
                                            width: 470px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .attention {
                    position: relative;
                    font-size: 13px;
                    color: #666;
                    font-weight: 300;
                    padding-left: 15px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "*";
                    }
                    @media(min-width: $sm) {
                        font-size: 14px;
                    }
                    @media(min-width: $md) {
                        font-size: 15px;
                    }
                }
            }
            .btn-area {
                margin-top: 50px;
                text-align: center; 
                p {
                    font-size: 0;
                    .btn {
                        display: inline-block;
                        font-size: 14px;
                        color: #fff;
                        font-weight: 300;
                        text-align: center;
                        padding: 0;
                        border-radius: 100px;
                        margin-right: 10px;
                        @include transition();
                        &:hover, &:focus {
                            opacity: .7;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        &.btn-sm {
                            width: 140px;
                            height: 48px;
                            line-height: 48px;
                        }
                        &.btn-gray {
                            background-color: #595757;
                        }
                        &.btn-orange {
                            background-color: #f08501;
                        }
                    }
                }
                @media(min-width: $sm) {
                    margin-top: 70px;
                    p {
                        .btn-sm {
                            width: 190px !important;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

// 공지사항 리스트
.common-list {
    article {
        padding-bottom: 90px;
        background-image: url(/assets/images/introduction/future_bg.jpg);
        @media(min-width: $sm) {
            padding-bottom: 110px;
        }
        .article-header {
            padding: 38px 0 22px;
            .form-group {
                position: relative;
                padding-left: 120px;
                .form-control {
                    height: 35px;
                    border: 1px solid #dfdfdf;
                }
                select {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 110px;
                }
                input {
                    width: 100%;
                    padding-right: 35px;
                }
                .btn-search {
                    position: absolute;
                    top: 1px;
                    right: 1px;
                    .btn-default {
                        width: 35px;
                        height: 33px;
                        text-align: center;
                        line-height: 33px;
                        padding: 0;
                        font-size: 15px;
                        color: #e10316;
                        border: 0;
                        border-radius: 0;
                        background-color: #fff !important;
                    }
                }
            }
            @media(min-width: $sm) {
                padding: 55px 0 50px;
                .form-group {
                    width: 500px;
                    display: block;
                    margin: 0 auto;
                    padding-left: 150px;
                    select {
                        width: 130px;
                    }
                    input {
                        padding-right: 40px;
                    }
                    .form-control {
                        height: 40px;
                    }
                    .btn-search {
                        .btn-default {
                            width: 40px;
                            height: 38px;
                            line-height: 38px;
                        }
                    }
                }
            }
            @media(min-width: $md) {
                padding: 70px 0 50px;
            }
        }
        .article-content {
            .list {
                li {
                    ~ li {
                        margin-top: 10px;
                    }
                    a {
                        display: block;
                        padding: 20px 30px;
                        border: 1px solid #dfdfdf;
                        border-radius: 5px;
                        background-color: #fff;
                        text-decoration: none;
                        h3 {
                            font-size: 18px;
                            color: #333;
                            margin-bottom: 20px;
                        }
                        .list-info {
                            li {
                                display: inline-block;
                                font-size: 12px;
                                i {
                                    margin-right: 5px;
                                }
                                &:first-child {
                                    margin-right: 20px;
                                }
                            }
                        }
                        p {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 12px;
                            color: #666;
                            line-height: 24px;
                            margin-top: 40px;
                        }
                    }
                    @media(min-width: $sm) {
                        ~ li {
                            margin-top: 20px;
                        }
                        a {
                            padding: 30px;
                            h3 {
                                font-size: 24px;
                            }
                            p {
                                font-size: 14px;
                                line-height: 26px;
                            }
                        }
                    }
                    @media(min-width: $md) {
                        ~ li {
                            margin-top: 30px;
                        }
                        a {
                            padding: 35px 30px 30px;
                        }
                    }
                }
            }
            .page-nav {
                margin-top: 40px;
                @media(min-width: $sm) {
                    margin-top: 45px;
                }
                @media(min-width: $md) {
                    margin-top: 60px;
                }
            }
            .btn-area {
                margin-top: 30px;
                text-align: right;
                p {
                    .btn-orange {
                        display: inline-block;
                        width: 110px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 13px;
                        color: #fff;
                        padding: 0;
                        background-color: #f08501;
                        @media(min-width: $sm) {
                            width: 150px;
                            font-size: 15px;
                        }
                        @media(min-width: $md) {
                            width: 170px;
                        }
                    }
                }
            }
        }
    }
}


// 공지사항 보기
.common-view {
    .view-content {
        padding: 45px 0 125px;
        background-image: url(/assets/images/introduction/future_bg.jpg);
        @media(min-width: $sm) {
            padding: 66px 0 130px;
        }
        @media(min-width: $md) {
            padding: 100px 0 120px;
        }
        article {
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            background-color: #f8f8f8;
            .article-header {
                padding: 28px 30px 0;
                background-color: #fff;
                h3 {
                    font-size: 18px;
                    color: #333;
                    margin-bottom: 20px;
                }
                ul {
                    padding-bottom: 38px;
                    border-bottom: 1px solid #605e5e;
                    li {
                        display: inline-block;
                        font-size: 12px;
                        i {
                            margin-right: 5px;
                        }
                        &:first-child {
                            margin-right: 20px;
                        }
                    }
                }
                @media(min-width: $sm) {
                    padding-top: 40px;
                    h3 {
                        font-size: 24px;
                    }
                    ul {
                        padding-bottom: 30px;
                    }
                }
                @media(min-width: $sm) {
                    padding-top: 30px;
                }
            }
            .article-content {
                background-color: #fff;
                padding: 45px 30px 40px;
                p {
                    font-size: 12px;
                    color: #666;
                    line-height: 24px;
                }
                figure {
                    margin-top: 50px;
                    .img-responsive {
                        margin: 0 auto;
                    }
                }
                @media(min-width: $sm) {
                    padding: 55px 30px 90px;
                    p {
                        font-size: 13px;
                        line-height: 26px;
                    }
                    figure {
                        margin-top: 40px;
                    }
                }
                @media(min-width: $md) {
                    padding: 50px 30px 80px;
                    p {
                        font-size: 14px;
                        line-height: 32px;
                    }
                    figure {
                        margin-top: 70px;
                    }
                }
            }
            .article-foot {
                padding: 15px 30px;
                a {
                    font-size: 12px;
                    color: #999;
                    &:after {
                        content: ",";
                        margin-right: 5px;
                    }
                    &:last-child {
                        &:after {
                            content: "";
                        }
                    }
                    &:first-child {
                        position: relative;
                        padding-left: 20px;
                        &:before {
                            position: absolute;
                            top: 2px;
                            left: 0;
                            content: "\F06A";
                            font-family: "fontello";
                        }
                    }
                }
                @media(min-width: $sm) {
                    padding: 20px 30px;
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        .link-area {
            margin-top: 65px;
            border-top: 1px solid #595757;
            border-bottom: 1px solid #595757;
            background-color: #fff;
            ul {
                li {
                    padding: 20px 0;
                    dl {
                        position: relative;
                        padding-left: 80px;
                        dt {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 80px;
                            font-size: 13px;
                            color: #2b2b2b;
                            font-weight: 400;
                            padding-left: 20px;
                        }
                        dd {
                            position: relative;
                            padding-left: 30px;
                            &:before {
                                position: absolute;
                                left: 0;
                                top: 0;
                                color: #ccc;
                                content: "|";
                            }
                            a {
                                display: block;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                font-size: 13px;
                                color: #666;
                                font-weight: 300;
                            }
                        }
                    }
                    &:first-child {
                        border-bottom: 1px solid #dfdfdf;
                    }
                }
            }
            @media(min-width: $sm) {
                ul {
                    li {
                        dl {
                            padding-left: 100px;
                            dt {
                                font-size: 15px;
                                width: 100px;
                                padding-left: 30px;
                            }
                            dd {
                                a {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            margin-top: 55px;
            p {
                .btn {
                    padding: 0;
                    border: 0;
                    border-radius: 100px;
                    @include transition();
                    &:hover, &:focus {
                        opacity: .7;
                    }
                    &.btn-lg {
                        width: 300px;
                        height: 48px;
                        line-height: 48px;
                        font-size: 14px;
                        color: #fff;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        &:last-child {
                            margin: 0 auto;
                            
                        }
                    }
                    &.btn-orange {
                        background-color: #f08501;
                    }
                    &.btn-gray {
                        background-color: #595757;
                    }
                }
            }
            @media(min-width: $sm) {
                margin-top: 65px;
                p {
                    .btn {
                        &.btn-lg {
                            font-size: 18px;
                            width: 190px;
                            display: inline-block;
                            margin: 0;
                            margin-right: 8px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            @media(min-width: $md) {
                margin-top: 55px;
            }
        }
    }
}


// 글쓰기 공통
.common-write {
    .page-header {
        h2 {
            span {
                display: none;
            }
        }
    }
    article {
        padding-bottom: 120px;
        background-image: url(/assets/images/introduction/future_bg.jpg);
        @media(min-width: $sm) {
            padding-bottom: 140px;
        }
        .article-header {
            text-align: center;
            padding: 50px 0;
            p {
                font-size: 16px;
                color: #555;
                font-weight: 300;
                line-height: 30px;
            }
            @media(min-width: $sm) {
                padding-top: 60px;
                p {
                    font-size: 20px;
                }
            }
            @media(min-width: $md) {
                padding: 60px 0;
            }
        }
        .article-content {
            .table-warp {
                .table {
                    border: 0;
                    border-top: 3px solid #949595;
                    tbody {
                        tr {
                            th {
                                width: 100px;
                                font-size: 13px;
                                color: #333;
                                font-weight: 400;
                                vertical-align: middle;
                                padding-left: 10px;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                background-color: #f8f8f8;
                                label {
                                    font-weight: 400;
                                    margin: 0;
                                }
                                &.v-align {
                                    vertical-align: top;
                                    padding-top: 20px;
                                }
                                @media(min-width: $sm) {
                                    width: 170px;
                                    font-size: 15px;
                                    padding-left: 30px;
                                }
                            }
                            td {
                                font-size: 13px;
                                color: #333;
                                font-weight: 300;
                                vertical-align: middle;
                                padding: 10px;
                                background-color: #fff;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                .form-group {
                                    margin: 0;
                                    .form-control {
                                        width: 100%;
                                        height: 40px;
                                        border: 1px solid #dfdfdf;
                                    }
                                    ul {
                                        font-size: 0;
                                        li {
                                            display: block;
                                            ~ li {
                                                margin-top: 10px;
                                            }
                                            dl {
                                                position: relative;
                                                dt {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 70px;
                                                    font-weight: 300;
                                                    font-size: 13px;
                                                    line-height: 40px;
                                                    color: #333;
                                                    opacity: .6;
                                                    label {
                                                        font-weight: 300;
                                                        margin: 0;
                                                        color: #333;
                                                    }
                                                }
                                                dd {
                                                    padding-left: 70px;
                                                    font-size: 13px;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.u-content {
                                    .form-group {
                                        .form-control {
                                            height: 285px;
                                        }
                                    }
                                }
                                &.file {
                                    .form-group {
                                        position: relative;
                                        padding-right: 70px;
                                        label {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            width: 60px;
                                            height: 40px;
                                            font-size: 13px;
                                            font-weight: 300;
                                            line-height: 40px;
                                            color: #fff;
                                            text-align: center;
                                            background-color: #aeaeaf;
                                        }
                                    }
                                }
                                @media(min-width: $sm) {
                                    padding: 10px 30px;
                                    .form-group {
                                        .form-control {
                                            width: 270px;
                                        }
                                        ul {
                                            li {
                                                dl {
                                                    dt {
                                                        font-size: 15px;
                                                    }
                                                    dd {
                                                        .form-control {
                                                            width: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.e-mail {
                                        .form-control {
                                            width: 100%;
                                        }
                                    }
                                    &.u-content {
                                        .form-control {
                                            width: 100%;
                                        }
                                    }
                                    &.subject {
                                        .form-control {
                                            width: 100%;
                                        }
                                    }
                                    &.file {
                                        .form-group {
                                            padding-right: 155px;
                                            label {
                                                width: 135px;
                                                font-size: 15px;
                                            }
                                        }
                                        .form-control {
                                            width: 100%;
                                        }
                                    }
                                }
                                @media(min-width: $md) {
                                    .form-group {
                                        ul {
                                            li {
                                                display: inline-block;
                                                width: 33%;
                                                ~ li {
                                                    margin-top: 0;
                                                }
                                                dl {
                                                    dt {
                                                        width: 75px;
                                                        font-size: 15px;
                                                    }
                                                    dd {
                                                        padding-left: 75px;
                                                        .form-control {
                                                            width: 140px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                @media(min-width: $lg) {
                                    &.email {
                                        .form-control {
                                            width: 470px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .attention {
                    position: relative;
                    font-size: 13px;
                    color: #666;
                    font-weight: 300;
                    padding-left: 15px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "*";
                    }
                    @media(min-width: $sm) {
                        font-size: 14px;
                    }
                    @media(min-width: $md) {
                        font-size: 15px;
                    }
                }
            }
            .btn-area {
                margin-top: 50px;
                text-align: center; 
                p {
                    font-size: 0;
                    .btn {
                        display: inline-block;
                        font-size: 14px;
                        color: #fff;
                        font-weight: 300;
                        text-align: center;
                        padding: 0;
                        border-radius: 100px;
                        margin-right: 10px;
                        @include transition();
                        &:hover, &:focus {
                            opacity: .7;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        &.btn-sm {
                            width: 140px;
                            height: 48px;
                            line-height: 48px;
                        }
                        &.btn-gray {
                            background-color: #595757;
                        }
                        &.btn-orange {
                            background-color: #f08501;
                        }
                    }
                }
                @media(min-width: $sm) {
                    margin-top: 70px;
                    p {
                        .btn-sm {
                            width: 190px !important;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

.download-write, .notice-write, .qna-write {
    .article-content {
        padding-top: 40px;
        @media(min-width: $sm) {
            padding-top: 50px;
        }
        @media(min-width: $md) {
            padding-top: 60px;
        }
    }
}

.inquire-view {
    .article-content {
        .table {
            tbody {
                tr {
                    th {
                        vertical-align: middle;
                    }
                    td {
                        font-size: 13px;
                        height: 62px;
                        @media(min-width: $sm) {
                            font-size: 15px;
                        }
                        ul {
                            li {
                                dl {
                                    font-size: 0;
                                    dt {
                                        display: inline-block;
                                        font-weight: 300;
                                        font-size: 13px;
                                        line-height: 24px;
                                        &:after {
                                            content: ":";
                                            padding: 0 3px;
                                        }
                                    }
                                    dd {
                                        display: inline-block;
                                        font-size: 13px;
                                        line-height: 24px;
                                    }
                                }
                                @media(min-width: $sm) {
                                    display: inline-block;
                                    & ~ li {
                                        margin-left: 20px;
                                    }
                                    dl {
                                        dt {
                                            font-size: 15px;
                                        }
                                        dd {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .u-content {
                        padding-top: 20px !important;
                        padding-bottom: 80px !important;
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            margin-top: 55px;
            p {
                .btn {
                    padding: 0;
                    border: 0;
                    border-radius: 100px;
                    @include transition();
                    &:hover, &:focus {
                        opacity: .7;
                    }
                    &.btn-lg {
                        width: 300px;
                        height: 48px;
                        line-height: 48px;
                        font-size: 14px;
                        color: #fff;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        &:last-child {
                            margin: 0 auto;
                            
                        }
                    }
                    &.btn-orange {
                        background-color: #f08501;
                    }
                    &.btn-gray {
                        background-color: #595757;
                    }
                }
            }
            @media(min-width: $sm) {
                margin-top: 65px;
                p {
                    .btn {
                        &.btn-lg {
                            font-size: 18px;
                            width: 190px;
                            display: inline-block;
                            margin: 0;
                            margin-right: 8px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            @media(min-width: $md) {
                margin-top: 55px;
            }
        }
    }
}


.inquire-list {
    .page-header {
        h2 {
            span {
                display: none;
            }
        }
    }
    article {
        padding-bottom: 120px;
        background-image: url(/assets/images/introduction/future_bg.jpg);
        @media(min-width: $sm) {
            padding-bottom: 140px;
        }
        .article-header {
            text-align: center;
            padding: 50px 0;
            p {
                font-size: 16px;
                color: #555;
                font-weight: 300;
                line-height: 30px;
            }
            @media(min-width: $sm) {
                padding-top: 60px;
                p {
                    font-size: 20px;
                }
            }
            @media(min-width: $md) {
                padding: 60px 0;
            }
        }
        .article-content {
            .list {
                width: 100%;
                border-top: 3px solid #595757;
                > li {
                    display: block;
                    width: 100%;
                    padding: 18px 0;
                    border-bottom: 1px solid #ccc;
                    &.visible-lg {
                        background-color: #666;
                        .list-header {
                            li {
                                text-align: center;
                                font-size: 15px;
                                color: #fff;
                                font-weight: 400;
                                @media(min-width: $lg) {
                                    &:nth-of-type(1) {
                                        width: 10%;
                                    }
                                    &:nth-of-type(2) {
                                        width: 65%;
                                    }
                                    &:nth-of-type(3) {
                                        width: 15%;
                                    }
                                    &:nth-of-type(4) {
                                        width: 10%;
                                    }
                                }
                            }
                        }
                    }
                    > ul {
                        font-size: 0;
                        > li {
                            display: inline-block;
                            font-size: 15px;
                            color: #666;
                            padding: 0 10px;
                            font-weight: 300;
                            vertical-align: top;
                            @media(min-width: $lg) {
                                font-size: 15px;
                                text-align: center;
                                &:nth-of-type(1) {
                                    width: 10%;
                                }
                                &:nth-of-type(2) {
                                    width: 65%;
                                    text-align: left;
                                }
                                &:nth-of-type(3) {
                                    width: 15%;
                                }
                                &:nth-of-type(4) {
                                    width: 10%;
                                }
                            }
                            a {
                                display: block;
                                font-size: 15px;
                                color: #666;
                                font-weight: 300;
                                overflow: hidden;
                                white-space: nowrap; 
                                text-overflow: ellipsis;
                            }
                            &.num {
                                display: none;
                                @media(min-width: $lg) {
                                    display: inline-block;
                                }
                            }
                            &.subject {
                                display: block;
                                margin-bottom: 10px;
                                @media(min-width: $lg) {
                                    display: inline-block;
                                    margin-bottom: 0;
                                }
                            }
                            &.date {
                                font-size: 12px;
                                position: relative;
                                &:after {
                                    position: absolute;
                                    top: 5%;
                                    right: -1px;
                                    font-size: 10px;
                                    color: #666;
                                    content: "|";
                                }
                                @media(min-width: $sm) {
                                    font-size: 13px;
                                }
                                @media(min-width: $lg) {
                                    font-size: 15px;
                                    &:after {
                                        content: "";
                                    }
                                }
                            }
                            &.hit {
                                font-size: 12px;
                                @media(min-width: $sm) {
                                    font-size: 13px;
                                }
                                @media(min-width: $lg) {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
            .btn-area {
                margin-top: 30px;
                text-align: right;
                p {
                    .btn-orange {
                        display: inline-block;
                        width: 110px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 13px;
                        color: #fff;
                        padding: 0;
                        background-color: #f08501;
                        @media(min-width: $sm) {
                            width: 150px;
                            font-size: 15px;
                        }
                        @media(min-width: $md) {
                            width: 170px;
                        }
                    }
                }
            }
            .pagination {
                margin-top: 30px;
                @media(min-width: $sm) {
                    margin-top: 60px;
                }
            }
        }
    }
}































