h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.nbg {
  font-family: "NanumBarunGothic", sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.search-form {
  position: relative; }
  .search-form .form-group .form-control {
    height: 45px;
    padding-right: 50px; }
  .search-form .btn-search .btn-default {
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 0;
    width: 45px;
    height: 43px;
    border: 0; }
    .search-form .btn-search .btn-default i {
      font-size: 14px;
      color: #e10013; }
    .search-form .btn-search .btn-default:hover, .search-form .btn-search .btn-default:focus {
      background: none;
      opacity: .7; }
  @media (min-width: 768px) {
    .search-form .form-group .form-control {
      padding-right: 60px;
      height: 57px; }
    .search-form .btn-search .btn-default {
      width: 57px;
      height: 55px; } }

.page-nav {
  text-align: center; }
  .page-nav .pagination {
    margin: 0; }
    .page-nav .pagination li a {
      border: 0;
      background: none !important;
      color: #aeaeae;
      font-size: 18px;
      font-family: 'Titillium Web', sans-serif; }
      .page-nav .pagination li a:hover, .page-nav .pagination li a:focus {
        color: #e10013; }
    .page-nav .pagination li.active a {
      color: #e10013;
      text-decoration: underline;
      font-weight: bold; }
    .page-nav .pagination li.first a, .page-nav .pagination li.prev a, .page-nav .pagination li.next a, .page-nav .pagination li.last a {
      padding-left: 0;
      padding-right: 0; }
    .page-nav .pagination li.prev a {
      padding-right: 10px; }
    .page-nav .pagination li.next a {
      padding-left: 10px; }

.download {
  background-image: url(/assets/images/introduction/future_bg.jpg); }
  .download .article-header {
    text-align: center;
    padding: 35px 0 37px; }
    .download .article-header .search-txt {
      font-size: 13px;
      color: #666;
      line-height: 24px;
      margin-bottom: 20px; }
    @media (min-width: 768px) {
      .download .article-header {
        text-align: right;
        padding: 45px 0 35px; }
        .download .article-header .search-txt {
          font-size: 14px;
          margin-bottom: 10px; } }
    @media (min-width: 992px) {
      .download .article-header {
        padding: 70px 0 65px; } }
  .download .article-content {
    padding-bottom: 100px; }
    @media (min-width: 768px) {
      .download .article-content {
        padding-bottom: 140px; } }
    @media (min-width: 992px) {
      .download .article-content {
        padding-bottom: 120px; } }
    .download .article-content .table-wrap .table {
      margin: 0; }
      .download .article-content .table-wrap .table thead tr th {
        font-size: 13px;
        color: #333;
        font-weight: 400;
        border: 0;
        padding: 20px 0;
        text-align: center;
        background-color: #e7e7e7; }
        .download .article-content .table-wrap .table thead tr th:nth-of-type(3) {
          display: none; }
        .download .article-content .table-wrap .table thead tr th:nth-of-type(4) {
          display: none; }
        @media (min-width: 768px) {
          .download .article-content .table-wrap .table thead tr th {
            font-size: 15px; }
            .download .article-content .table-wrap .table thead tr th:nth-of-type(3) {
              display: table-cell; }
            .download .article-content .table-wrap .table thead tr th:nth-of-type(4) {
              display: table-cell; } }
      .download .article-content .table-wrap .table tbody tr td {
        font-size: 13px;
        color: #666;
        font-weight: 300;
        border: 0;
        padding: 0;
        padding-bottom: 5px; }
        .download .article-content .table-wrap .table tbody tr td > div {
          text-align: center;
          height: 95px;
          line-height: 95px;
          background-color: #fff; }
          .download .article-content .table-wrap .table tbody tr td > div figure {
            line-height: 95px; }
            .download .article-content .table-wrap .table tbody tr td > div figure .img-responsive {
              display: inline-block; }
        .download .article-content .table-wrap .table tbody tr td a img {
          display: inline-block;
          width: 18px; }
          @media (min-width: 768px) {
            .download .article-content .table-wrap .table tbody tr td a img {
              width: 26px; } }
        .download .article-content .table-wrap .table tbody tr td:nth-of-type(3) {
          display: none; }
        .download .article-content .table-wrap .table tbody tr td:nth-of-type(4) {
          display: none; }
        @media (min-width: 768px) {
          .download .article-content .table-wrap .table tbody tr td {
            font-size: 15px; }
            .download .article-content .table-wrap .table tbody tr td:nth-of-type(3) {
              display: table-cell; }
            .download .article-content .table-wrap .table tbody tr td:nth-of-type(4) {
              display: table-cell; } }
      .download .article-content .table-wrap .table tbody tr:first-child td {
        padding-top: 12px; }
      .download .article-content .table-wrap .table tbody tr:last-child td {
        padding-bottom: 0; }
    .download .article-content .btn-area {
      margin-top: 30px;
      text-align: center; }
      .download .article-content .btn-area p .btn-orange {
        width: 300px;
        height: 48px;
        font-size: 14px;
        line-height: 48px;
        color: #fff;
        text-align: center;
        padding: 0;
        background-color: #f08501;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .download .article-content .btn-area p .btn-orange:hover, .download .article-content .btn-area p .btn-orange:focus {
          opacity: .7; }
      @media (min-width: 768px) {
        .download .article-content .btn-area {
          margin-top: 40px;
          text-align: right; }
          .download .article-content .btn-area p .btn-orange {
            font-size: 18px;
            width: 190px; } }
    .download .article-content .page-nav {
      margin-top: 45px; }
      @media (min-width: 768px) {
        .download .article-content .page-nav {
          margin-top: 50px; } }
      @media (min-width: 992px) {
        .download .article-content .page-nav {
          margin-top: 70px; } }

.inquire .page-header h2 span {
  display: none; }
.inquire article {
  padding-bottom: 120px;
  background-image: url(/assets/images/introduction/future_bg.jpg); }
  @media (min-width: 768px) {
    .inquire article {
      padding-bottom: 140px; } }
  .inquire article .article-header {
    text-align: center;
    padding: 50px 0; }
    .inquire article .article-header p {
      font-size: 16px;
      color: #555;
      font-weight: 300;
      line-height: 30px; }
    @media (min-width: 768px) {
      .inquire article .article-header {
        padding-top: 60px; }
        .inquire article .article-header p {
          font-size: 20px; } }
    @media (min-width: 992px) {
      .inquire article .article-header {
        padding: 60px 0; } }
  .inquire article .article-content .table-warp .table {
    border: 0;
    border-top: 3px solid #949595; }
    .inquire article .article-content .table-warp .table tbody tr th {
      width: 100px;
      font-size: 13px;
      color: #333;
      font-weight: 400;
      vertical-align: middle;
      padding-left: 10px;
      border: 0;
      border-bottom: 1px solid #dfdfdf;
      background-color: #f8f8f8; }
      .inquire article .article-content .table-warp .table tbody tr th label {
        font-weight: 400;
        margin: 0; }
      .inquire article .article-content .table-warp .table tbody tr th.v-align {
        vertical-align: top;
        padding-top: 20px; }
      @media (min-width: 768px) {
        .inquire article .article-content .table-warp .table tbody tr th {
          width: 170px;
          font-size: 15px;
          padding-left: 30px; } }
    .inquire article .article-content .table-warp .table tbody tr td {
      font-size: 13px;
      color: #333;
      font-weight: 300;
      vertical-align: middle;
      padding: 10px;
      background-color: #fff;
      border: 0;
      border-bottom: 1px solid #dfdfdf; }
      .inquire article .article-content .table-warp .table tbody tr td .form-group {
        margin: 0; }
        .inquire article .article-content .table-warp .table tbody tr td .form-group .form-control {
          width: 100%;
          height: 40px;
          border: 1px solid #dfdfdf; }
        .inquire article .article-content .table-warp .table tbody tr td .form-group ul {
          font-size: 0; }
          .inquire article .article-content .table-warp .table tbody tr td .form-group ul li {
            display: block; }
            .inquire article .article-content .table-warp .table tbody tr td .form-group ul li ~ li {
              margin-top: 10px; }
            .inquire article .article-content .table-warp .table tbody tr td .form-group ul li dl {
              position: relative; }
              .inquire article .article-content .table-warp .table tbody tr td .form-group ul li dl dt {
                position: absolute;
                top: 0;
                left: 0;
                width: 70px;
                font-weight: 300;
                font-size: 13px;
                line-height: 40px;
                color: #333;
                opacity: .6; }
                .inquire article .article-content .table-warp .table tbody tr td .form-group ul li dl dt label {
                  font-weight: 300;
                  margin: 0;
                  color: #333; }
              .inquire article .article-content .table-warp .table tbody tr td .form-group ul li dl dd {
                padding-left: 70px;
                font-size: 13px; }
      .inquire article .article-content .table-warp .table tbody tr td.u-content .form-group .form-control {
        height: 285px; }
      .inquire article .article-content .table-warp .table tbody tr td.file .form-group {
        position: relative;
        padding-right: 70px; }
        .inquire article .article-content .table-warp .table tbody tr td.file .form-group label {
          position: absolute;
          top: 0;
          right: 0;
          width: 60px;
          height: 40px;
          font-size: 13px;
          font-weight: 300;
          line-height: 40px;
          color: #fff;
          text-align: center;
          background-color: #aeaeaf; }
      @media (min-width: 768px) {
        .inquire article .article-content .table-warp .table tbody tr td {
          padding: 10px 30px; }
          .inquire article .article-content .table-warp .table tbody tr td .form-group .form-control {
            width: 270px; }
          .inquire article .article-content .table-warp .table tbody tr td .form-group ul li dl dt {
            font-size: 15px; }
          .inquire article .article-content .table-warp .table tbody tr td .form-group ul li dl dd .form-control {
            width: 100%; }
          .inquire article .article-content .table-warp .table tbody tr td.e-mail .form-control {
            width: 100%; }
          .inquire article .article-content .table-warp .table tbody tr td.u-content .form-control {
            width: 100%; }
          .inquire article .article-content .table-warp .table tbody tr td.subject .form-control {
            width: 100%; }
          .inquire article .article-content .table-warp .table tbody tr td.file .form-group {
            padding-right: 155px; }
            .inquire article .article-content .table-warp .table tbody tr td.file .form-group label {
              width: 135px;
              font-size: 15px; }
          .inquire article .article-content .table-warp .table tbody tr td.file .form-control {
            width: 100%; } }
      @media (min-width: 992px) {
        .inquire article .article-content .table-warp .table tbody tr td .form-group ul li {
          display: inline-block;
          width: 33%; }
          .inquire article .article-content .table-warp .table tbody tr td .form-group ul li ~ li {
            margin-top: 0; }
          .inquire article .article-content .table-warp .table tbody tr td .form-group ul li dl dt {
            width: 75px;
            font-size: 15px; }
          .inquire article .article-content .table-warp .table tbody tr td .form-group ul li dl dd {
            padding-left: 75px; }
            .inquire article .article-content .table-warp .table tbody tr td .form-group ul li dl dd .form-control {
              width: 140px; } }
      @media (min-width: 1280px) {
        .inquire article .article-content .table-warp .table tbody tr td.email .form-control {
          width: 470px; } }
  .inquire article .article-content .table-warp .attention {
    position: relative;
    font-size: 13px;
    color: #666;
    font-weight: 300;
    padding-left: 15px; }
    .inquire article .article-content .table-warp .attention:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "*"; }
    @media (min-width: 768px) {
      .inquire article .article-content .table-warp .attention {
        font-size: 14px; } }
    @media (min-width: 992px) {
      .inquire article .article-content .table-warp .attention {
        font-size: 15px; } }
  .inquire article .article-content .btn-area {
    margin-top: 50px;
    text-align: center; }
    .inquire article .article-content .btn-area p {
      font-size: 0; }
      .inquire article .article-content .btn-area p .btn {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        text-align: center;
        padding: 0;
        border-radius: 100px;
        margin-right: 10px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .inquire article .article-content .btn-area p .btn:hover, .inquire article .article-content .btn-area p .btn:focus {
          opacity: .7; }
        .inquire article .article-content .btn-area p .btn:last-child {
          margin-right: 0; }
        .inquire article .article-content .btn-area p .btn.btn-sm {
          width: 140px;
          height: 48px;
          line-height: 48px; }
        .inquire article .article-content .btn-area p .btn.btn-gray {
          background-color: #595757; }
        .inquire article .article-content .btn-area p .btn.btn-orange {
          background-color: #f08501; }
    @media (min-width: 768px) {
      .inquire article .article-content .btn-area {
        margin-top: 70px; }
        .inquire article .article-content .btn-area p .btn-sm {
          width: 190px !important;
          font-size: 18px; } }

.common-list article {
  padding-bottom: 90px;
  background-image: url(/assets/images/introduction/future_bg.jpg); }
  @media (min-width: 768px) {
    .common-list article {
      padding-bottom: 110px; } }
  .common-list article .article-header {
    padding: 38px 0 22px; }
    .common-list article .article-header .form-group {
      position: relative;
      padding-left: 120px; }
      .common-list article .article-header .form-group .form-control {
        height: 35px;
        border: 1px solid #dfdfdf; }
      .common-list article .article-header .form-group select {
        position: absolute;
        top: 0;
        left: 0;
        width: 110px; }
      .common-list article .article-header .form-group input {
        width: 100%;
        padding-right: 35px; }
      .common-list article .article-header .form-group .btn-search {
        position: absolute;
        top: 1px;
        right: 1px; }
        .common-list article .article-header .form-group .btn-search .btn-default {
          width: 35px;
          height: 33px;
          text-align: center;
          line-height: 33px;
          padding: 0;
          font-size: 15px;
          color: #e10316;
          border: 0;
          border-radius: 0;
          background-color: #fff !important; }
    @media (min-width: 768px) {
      .common-list article .article-header {
        padding: 55px 0 50px; }
        .common-list article .article-header .form-group {
          width: 500px;
          display: block;
          margin: 0 auto;
          padding-left: 150px; }
          .common-list article .article-header .form-group select {
            width: 130px; }
          .common-list article .article-header .form-group input {
            padding-right: 40px; }
          .common-list article .article-header .form-group .form-control {
            height: 40px; }
          .common-list article .article-header .form-group .btn-search .btn-default {
            width: 40px;
            height: 38px;
            line-height: 38px; } }
    @media (min-width: 992px) {
      .common-list article .article-header {
        padding: 70px 0 50px; } }
  .common-list article .article-content .list li ~ li {
    margin-top: 10px; }
  .common-list article .article-content .list li a {
    display: block;
    padding: 20px 30px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none; }
    .common-list article .article-content .list li a h3 {
      font-size: 18px;
      color: #333;
      margin-bottom: 20px; }
    .common-list article .article-content .list li a .list-info li {
      display: inline-block;
      font-size: 12px; }
      .common-list article .article-content .list li a .list-info li i {
        margin-right: 5px; }
      .common-list article .article-content .list li a .list-info li:first-child {
        margin-right: 20px; }
    .common-list article .article-content .list li a p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      color: #666;
      line-height: 24px;
      margin-top: 40px; }
  @media (min-width: 768px) {
    .common-list article .article-content .list li ~ li {
      margin-top: 20px; }
    .common-list article .article-content .list li a {
      padding: 30px; }
      .common-list article .article-content .list li a h3 {
        font-size: 24px; }
      .common-list article .article-content .list li a p {
        font-size: 14px;
        line-height: 26px; } }
  @media (min-width: 992px) {
    .common-list article .article-content .list li ~ li {
      margin-top: 30px; }
    .common-list article .article-content .list li a {
      padding: 35px 30px 30px; } }
  .common-list article .article-content .page-nav {
    margin-top: 40px; }
    @media (min-width: 768px) {
      .common-list article .article-content .page-nav {
        margin-top: 45px; } }
    @media (min-width: 992px) {
      .common-list article .article-content .page-nav {
        margin-top: 60px; } }
  .common-list article .article-content .btn-area {
    margin-top: 30px;
    text-align: right; }
    .common-list article .article-content .btn-area p .btn-orange {
      display: inline-block;
      width: 110px;
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      color: #fff;
      padding: 0;
      background-color: #f08501; }
      @media (min-width: 768px) {
        .common-list article .article-content .btn-area p .btn-orange {
          width: 150px;
          font-size: 15px; } }
      @media (min-width: 992px) {
        .common-list article .article-content .btn-area p .btn-orange {
          width: 170px; } }

.common-view .view-content {
  padding: 45px 0 125px;
  background-image: url(/assets/images/introduction/future_bg.jpg); }
  @media (min-width: 768px) {
    .common-view .view-content {
      padding: 66px 0 130px; } }
  @media (min-width: 992px) {
    .common-view .view-content {
      padding: 100px 0 120px; } }
  .common-view .view-content article {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #f8f8f8; }
    .common-view .view-content article .article-header {
      padding: 28px 30px 0;
      background-color: #fff; }
      .common-view .view-content article .article-header h3 {
        font-size: 18px;
        color: #333;
        margin-bottom: 20px; }
      .common-view .view-content article .article-header ul {
        padding-bottom: 38px;
        border-bottom: 1px solid #605e5e; }
        .common-view .view-content article .article-header ul li {
          display: inline-block;
          font-size: 12px; }
          .common-view .view-content article .article-header ul li i {
            margin-right: 5px; }
          .common-view .view-content article .article-header ul li:first-child {
            margin-right: 20px; }
      @media (min-width: 768px) {
        .common-view .view-content article .article-header {
          padding-top: 40px; }
          .common-view .view-content article .article-header h3 {
            font-size: 24px; }
          .common-view .view-content article .article-header ul {
            padding-bottom: 30px; } }
      @media (min-width: 768px) {
        .common-view .view-content article .article-header {
          padding-top: 30px; } }
    .common-view .view-content article .article-content {
      background-color: #fff;
      padding: 45px 30px 40px; }
      .common-view .view-content article .article-content p {
        font-size: 12px;
        color: #666;
        line-height: 24px; }
      .common-view .view-content article .article-content figure {
        margin-top: 50px; }
        .common-view .view-content article .article-content figure .img-responsive {
          margin: 0 auto; }
      @media (min-width: 768px) {
        .common-view .view-content article .article-content {
          padding: 55px 30px 90px; }
          .common-view .view-content article .article-content p {
            font-size: 13px;
            line-height: 26px; }
          .common-view .view-content article .article-content figure {
            margin-top: 40px; } }
      @media (min-width: 992px) {
        .common-view .view-content article .article-content {
          padding: 50px 30px 80px; }
          .common-view .view-content article .article-content p {
            font-size: 14px;
            line-height: 32px; }
          .common-view .view-content article .article-content figure {
            margin-top: 70px; } }
    .common-view .view-content article .article-foot {
      padding: 15px 30px; }
      .common-view .view-content article .article-foot a {
        font-size: 12px;
        color: #999; }
        .common-view .view-content article .article-foot a:after {
          content: ",";
          margin-right: 5px; }
        .common-view .view-content article .article-foot a:last-child:after {
          content: ""; }
        .common-view .view-content article .article-foot a:first-child {
          position: relative;
          padding-left: 20px; }
          .common-view .view-content article .article-foot a:first-child:before {
            position: absolute;
            top: 2px;
            left: 0;
            content: "\F06A";
            font-family: "fontello"; }
      @media (min-width: 768px) {
        .common-view .view-content article .article-foot {
          padding: 20px 30px; }
          .common-view .view-content article .article-foot a {
            font-size: 13px; } }
  .common-view .view-content .link-area {
    margin-top: 65px;
    border-top: 1px solid #595757;
    border-bottom: 1px solid #595757;
    background-color: #fff; }
    .common-view .view-content .link-area ul li {
      padding: 20px 0; }
      .common-view .view-content .link-area ul li dl {
        position: relative;
        padding-left: 80px; }
        .common-view .view-content .link-area ul li dl dt {
          position: absolute;
          top: 0;
          left: 0;
          width: 80px;
          font-size: 13px;
          color: #2b2b2b;
          font-weight: 400;
          padding-left: 20px; }
        .common-view .view-content .link-area ul li dl dd {
          position: relative;
          padding-left: 30px; }
          .common-view .view-content .link-area ul li dl dd:before {
            position: absolute;
            left: 0;
            top: 0;
            color: #ccc;
            content: "|"; }
          .common-view .view-content .link-area ul li dl dd a {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 13px;
            color: #666;
            font-weight: 300; }
      .common-view .view-content .link-area ul li:first-child {
        border-bottom: 1px solid #dfdfdf; }
    @media (min-width: 768px) {
      .common-view .view-content .link-area ul li dl {
        padding-left: 100px; }
        .common-view .view-content .link-area ul li dl dt {
          font-size: 15px;
          width: 100px;
          padding-left: 30px; }
        .common-view .view-content .link-area ul li dl dd a {
          font-size: 15px; } }
  .common-view .view-content .btn-area {
    text-align: center;
    margin-top: 55px; }
    .common-view .view-content .btn-area p .btn {
      padding: 0;
      border: 0;
      border-radius: 100px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .common-view .view-content .btn-area p .btn:hover, .common-view .view-content .btn-area p .btn:focus {
        opacity: .7; }
      .common-view .view-content .btn-area p .btn.btn-lg {
        width: 300px;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        color: #fff;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px; }
        .common-view .view-content .btn-area p .btn.btn-lg:last-child {
          margin: 0 auto; }
      .common-view .view-content .btn-area p .btn.btn-orange {
        background-color: #f08501; }
      .common-view .view-content .btn-area p .btn.btn-gray {
        background-color: #595757; }
    @media (min-width: 768px) {
      .common-view .view-content .btn-area {
        margin-top: 65px; }
        .common-view .view-content .btn-area p .btn.btn-lg {
          font-size: 18px;
          width: 190px;
          display: inline-block;
          margin: 0;
          margin-right: 8px; }
          .common-view .view-content .btn-area p .btn.btn-lg:last-child {
            margin-right: 0; } }
    @media (min-width: 992px) {
      .common-view .view-content .btn-area {
        margin-top: 55px; } }

.common-write .page-header h2 span {
  display: none; }
.common-write article {
  padding-bottom: 120px;
  background-image: url(/assets/images/introduction/future_bg.jpg); }
  @media (min-width: 768px) {
    .common-write article {
      padding-bottom: 140px; } }
  .common-write article .article-header {
    text-align: center;
    padding: 50px 0; }
    .common-write article .article-header p {
      font-size: 16px;
      color: #555;
      font-weight: 300;
      line-height: 30px; }
    @media (min-width: 768px) {
      .common-write article .article-header {
        padding-top: 60px; }
        .common-write article .article-header p {
          font-size: 20px; } }
    @media (min-width: 992px) {
      .common-write article .article-header {
        padding: 60px 0; } }
  .common-write article .article-content .table-warp .table {
    border: 0;
    border-top: 3px solid #949595; }
    .common-write article .article-content .table-warp .table tbody tr th {
      width: 100px;
      font-size: 13px;
      color: #333;
      font-weight: 400;
      vertical-align: middle;
      padding-left: 10px;
      border: 0;
      border-bottom: 1px solid #dfdfdf;
      background-color: #f8f8f8; }
      .common-write article .article-content .table-warp .table tbody tr th label {
        font-weight: 400;
        margin: 0; }
      .common-write article .article-content .table-warp .table tbody tr th.v-align {
        vertical-align: top;
        padding-top: 20px; }
      @media (min-width: 768px) {
        .common-write article .article-content .table-warp .table tbody tr th {
          width: 170px;
          font-size: 15px;
          padding-left: 30px; } }
    .common-write article .article-content .table-warp .table tbody tr td {
      font-size: 13px;
      color: #333;
      font-weight: 300;
      vertical-align: middle;
      padding: 10px;
      background-color: #fff;
      border: 0;
      border-bottom: 1px solid #dfdfdf; }
      .common-write article .article-content .table-warp .table tbody tr td .form-group {
        margin: 0; }
        .common-write article .article-content .table-warp .table tbody tr td .form-group .form-control {
          width: 100%;
          height: 40px;
          border: 1px solid #dfdfdf; }
        .common-write article .article-content .table-warp .table tbody tr td .form-group ul {
          font-size: 0; }
          .common-write article .article-content .table-warp .table tbody tr td .form-group ul li {
            display: block; }
            .common-write article .article-content .table-warp .table tbody tr td .form-group ul li ~ li {
              margin-top: 10px; }
            .common-write article .article-content .table-warp .table tbody tr td .form-group ul li dl {
              position: relative; }
              .common-write article .article-content .table-warp .table tbody tr td .form-group ul li dl dt {
                position: absolute;
                top: 0;
                left: 0;
                width: 70px;
                font-weight: 300;
                font-size: 13px;
                line-height: 40px;
                color: #333;
                opacity: .6; }
                .common-write article .article-content .table-warp .table tbody tr td .form-group ul li dl dt label {
                  font-weight: 300;
                  margin: 0;
                  color: #333; }
              .common-write article .article-content .table-warp .table tbody tr td .form-group ul li dl dd {
                padding-left: 70px;
                font-size: 13px; }
      .common-write article .article-content .table-warp .table tbody tr td.u-content .form-group .form-control {
        height: 285px; }
      .common-write article .article-content .table-warp .table tbody tr td.file .form-group {
        position: relative;
        padding-right: 70px; }
        .common-write article .article-content .table-warp .table tbody tr td.file .form-group label {
          position: absolute;
          top: 0;
          right: 0;
          width: 60px;
          height: 40px;
          font-size: 13px;
          font-weight: 300;
          line-height: 40px;
          color: #fff;
          text-align: center;
          background-color: #aeaeaf; }
      @media (min-width: 768px) {
        .common-write article .article-content .table-warp .table tbody tr td {
          padding: 10px 30px; }
          .common-write article .article-content .table-warp .table tbody tr td .form-group .form-control {
            width: 270px; }
          .common-write article .article-content .table-warp .table tbody tr td .form-group ul li dl dt {
            font-size: 15px; }
          .common-write article .article-content .table-warp .table tbody tr td .form-group ul li dl dd .form-control {
            width: 100%; }
          .common-write article .article-content .table-warp .table tbody tr td.e-mail .form-control {
            width: 100%; }
          .common-write article .article-content .table-warp .table tbody tr td.u-content .form-control {
            width: 100%; }
          .common-write article .article-content .table-warp .table tbody tr td.subject .form-control {
            width: 100%; }
          .common-write article .article-content .table-warp .table tbody tr td.file .form-group {
            padding-right: 155px; }
            .common-write article .article-content .table-warp .table tbody tr td.file .form-group label {
              width: 135px;
              font-size: 15px; }
          .common-write article .article-content .table-warp .table tbody tr td.file .form-control {
            width: 100%; } }
      @media (min-width: 992px) {
        .common-write article .article-content .table-warp .table tbody tr td .form-group ul li {
          display: inline-block;
          width: 33%; }
          .common-write article .article-content .table-warp .table tbody tr td .form-group ul li ~ li {
            margin-top: 0; }
          .common-write article .article-content .table-warp .table tbody tr td .form-group ul li dl dt {
            width: 75px;
            font-size: 15px; }
          .common-write article .article-content .table-warp .table tbody tr td .form-group ul li dl dd {
            padding-left: 75px; }
            .common-write article .article-content .table-warp .table tbody tr td .form-group ul li dl dd .form-control {
              width: 140px; } }
      @media (min-width: 1280px) {
        .common-write article .article-content .table-warp .table tbody tr td.email .form-control {
          width: 470px; } }
  .common-write article .article-content .table-warp .attention {
    position: relative;
    font-size: 13px;
    color: #666;
    font-weight: 300;
    padding-left: 15px; }
    .common-write article .article-content .table-warp .attention:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "*"; }
    @media (min-width: 768px) {
      .common-write article .article-content .table-warp .attention {
        font-size: 14px; } }
    @media (min-width: 992px) {
      .common-write article .article-content .table-warp .attention {
        font-size: 15px; } }
  .common-write article .article-content .btn-area {
    margin-top: 50px;
    text-align: center; }
    .common-write article .article-content .btn-area p {
      font-size: 0; }
      .common-write article .article-content .btn-area p .btn {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        text-align: center;
        padding: 0;
        border-radius: 100px;
        margin-right: 10px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .common-write article .article-content .btn-area p .btn:hover, .common-write article .article-content .btn-area p .btn:focus {
          opacity: .7; }
        .common-write article .article-content .btn-area p .btn:last-child {
          margin-right: 0; }
        .common-write article .article-content .btn-area p .btn.btn-sm {
          width: 140px;
          height: 48px;
          line-height: 48px; }
        .common-write article .article-content .btn-area p .btn.btn-gray {
          background-color: #595757; }
        .common-write article .article-content .btn-area p .btn.btn-orange {
          background-color: #f08501; }
    @media (min-width: 768px) {
      .common-write article .article-content .btn-area {
        margin-top: 70px; }
        .common-write article .article-content .btn-area p .btn-sm {
          width: 190px !important;
          font-size: 18px; } }

.download-write .article-content, .notice-write .article-content, .qna-write .article-content {
  padding-top: 40px; }
  @media (min-width: 768px) {
    .download-write .article-content, .notice-write .article-content, .qna-write .article-content {
      padding-top: 50px; } }
  @media (min-width: 992px) {
    .download-write .article-content, .notice-write .article-content, .qna-write .article-content {
      padding-top: 60px; } }

.inquire-view .article-content .table tbody tr th {
  vertical-align: middle; }
.inquire-view .article-content .table tbody tr td {
  font-size: 13px;
  height: 62px; }
  @media (min-width: 768px) {
    .inquire-view .article-content .table tbody tr td {
      font-size: 15px; } }
  .inquire-view .article-content .table tbody tr td ul li dl {
    font-size: 0; }
    .inquire-view .article-content .table tbody tr td ul li dl dt {
      display: inline-block;
      font-weight: 300;
      font-size: 13px;
      line-height: 24px; }
      .inquire-view .article-content .table tbody tr td ul li dl dt:after {
        content: ":";
        padding: 0 3px; }
    .inquire-view .article-content .table tbody tr td ul li dl dd {
      display: inline-block;
      font-size: 13px;
      line-height: 24px; }
  @media (min-width: 768px) {
    .inquire-view .article-content .table tbody tr td ul li {
      display: inline-block; }
      .inquire-view .article-content .table tbody tr td ul li ~ li {
        margin-left: 20px; }
      .inquire-view .article-content .table tbody tr td ul li dl dt {
        font-size: 15px; }
      .inquire-view .article-content .table tbody tr td ul li dl dd {
        font-size: 15px; } }
.inquire-view .article-content .table tbody tr .u-content {
  padding-top: 20px !important;
  padding-bottom: 80px !important; }
.inquire-view .article-content .btn-area {
  text-align: center;
  margin-top: 55px; }
  .inquire-view .article-content .btn-area p .btn {
    padding: 0;
    border: 0;
    border-radius: 100px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .inquire-view .article-content .btn-area p .btn:hover, .inquire-view .article-content .btn-area p .btn:focus {
      opacity: .7; }
    .inquire-view .article-content .btn-area p .btn.btn-lg {
      width: 300px;
      height: 48px;
      line-height: 48px;
      font-size: 14px;
      color: #fff;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px; }
      .inquire-view .article-content .btn-area p .btn.btn-lg:last-child {
        margin: 0 auto; }
    .inquire-view .article-content .btn-area p .btn.btn-orange {
      background-color: #f08501; }
    .inquire-view .article-content .btn-area p .btn.btn-gray {
      background-color: #595757; }
  @media (min-width: 768px) {
    .inquire-view .article-content .btn-area {
      margin-top: 65px; }
      .inquire-view .article-content .btn-area p .btn.btn-lg {
        font-size: 18px;
        width: 190px;
        display: inline-block;
        margin: 0;
        margin-right: 8px; }
        .inquire-view .article-content .btn-area p .btn.btn-lg:last-child {
          margin-right: 0; } }
  @media (min-width: 992px) {
    .inquire-view .article-content .btn-area {
      margin-top: 55px; } }

.inquire-list .page-header h2 span {
  display: none; }
.inquire-list article {
  padding-bottom: 120px;
  background-image: url(/assets/images/introduction/future_bg.jpg); }
  @media (min-width: 768px) {
    .inquire-list article {
      padding-bottom: 140px; } }
  .inquire-list article .article-header {
    text-align: center;
    padding: 50px 0; }
    .inquire-list article .article-header p {
      font-size: 16px;
      color: #555;
      font-weight: 300;
      line-height: 30px; }
    @media (min-width: 768px) {
      .inquire-list article .article-header {
        padding-top: 60px; }
        .inquire-list article .article-header p {
          font-size: 20px; } }
    @media (min-width: 992px) {
      .inquire-list article .article-header {
        padding: 60px 0; } }
  .inquire-list article .article-content .list {
    width: 100%;
    border-top: 3px solid #595757; }
    .inquire-list article .article-content .list > li {
      display: block;
      width: 100%;
      padding: 18px 0;
      border-bottom: 1px solid #ccc; }
      .inquire-list article .article-content .list > li.visible-lg {
        background-color: #666; }
        .inquire-list article .article-content .list > li.visible-lg .list-header li {
          text-align: center;
          font-size: 15px;
          color: #fff;
          font-weight: 400; }
          @media (min-width: 1280px) {
            .inquire-list article .article-content .list > li.visible-lg .list-header li:nth-of-type(1) {
              width: 10%; }
            .inquire-list article .article-content .list > li.visible-lg .list-header li:nth-of-type(2) {
              width: 65%; }
            .inquire-list article .article-content .list > li.visible-lg .list-header li:nth-of-type(3) {
              width: 15%; }
            .inquire-list article .article-content .list > li.visible-lg .list-header li:nth-of-type(4) {
              width: 10%; } }
      .inquire-list article .article-content .list > li > ul {
        font-size: 0; }
        .inquire-list article .article-content .list > li > ul > li {
          display: inline-block;
          font-size: 15px;
          color: #666;
          padding: 0 10px;
          font-weight: 300;
          vertical-align: top; }
          @media (min-width: 1280px) {
            .inquire-list article .article-content .list > li > ul > li {
              font-size: 15px;
              text-align: center; }
              .inquire-list article .article-content .list > li > ul > li:nth-of-type(1) {
                width: 10%; }
              .inquire-list article .article-content .list > li > ul > li:nth-of-type(2) {
                width: 65%;
                text-align: left; }
              .inquire-list article .article-content .list > li > ul > li:nth-of-type(3) {
                width: 15%; }
              .inquire-list article .article-content .list > li > ul > li:nth-of-type(4) {
                width: 10%; } }
          .inquire-list article .article-content .list > li > ul > li a {
            display: block;
            font-size: 15px;
            color: #666;
            font-weight: 300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .inquire-list article .article-content .list > li > ul > li.num {
            display: none; }
            @media (min-width: 1280px) {
              .inquire-list article .article-content .list > li > ul > li.num {
                display: inline-block; } }
          .inquire-list article .article-content .list > li > ul > li.subject {
            display: block;
            margin-bottom: 10px; }
            @media (min-width: 1280px) {
              .inquire-list article .article-content .list > li > ul > li.subject {
                display: inline-block;
                margin-bottom: 0; } }
          .inquire-list article .article-content .list > li > ul > li.date {
            font-size: 12px;
            position: relative; }
            .inquire-list article .article-content .list > li > ul > li.date:after {
              position: absolute;
              top: 5%;
              right: -1px;
              font-size: 10px;
              color: #666;
              content: "|"; }
            @media (min-width: 768px) {
              .inquire-list article .article-content .list > li > ul > li.date {
                font-size: 13px; } }
            @media (min-width: 1280px) {
              .inquire-list article .article-content .list > li > ul > li.date {
                font-size: 15px; }
                .inquire-list article .article-content .list > li > ul > li.date:after {
                  content: ""; } }
          .inquire-list article .article-content .list > li > ul > li.hit {
            font-size: 12px; }
            @media (min-width: 768px) {
              .inquire-list article .article-content .list > li > ul > li.hit {
                font-size: 13px; } }
            @media (min-width: 1280px) {
              .inquire-list article .article-content .list > li > ul > li.hit {
                font-size: 15px; } }
  .inquire-list article .article-content .btn-area {
    margin-top: 30px;
    text-align: right; }
    .inquire-list article .article-content .btn-area p .btn-orange {
      display: inline-block;
      width: 110px;
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      color: #fff;
      padding: 0;
      background-color: #f08501; }
      @media (min-width: 768px) {
        .inquire-list article .article-content .btn-area p .btn-orange {
          width: 150px;
          font-size: 15px; } }
      @media (min-width: 992px) {
        .inquire-list article .article-content .btn-area p .btn-orange {
          width: 170px; } }
  .inquire-list article .article-content .pagination {
    margin-top: 30px; }
    @media (min-width: 768px) {
      .inquire-list article .article-content .pagination {
        margin-top: 60px; } }

/*# sourceMappingURL=customer.css.map */
