h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.nbg {
  font-family: "NanumBarunGothic", sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.introduce {
  background-image: url(/assets/images/introduction/future_bg.jpg); }
  .introduce .overview {
    padding: 70px 0;
    text-align: center;
    background-image: url(/assets/images/introduction/introduce_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%; }
    .introduce .overview h3 {
      font-size: 24px;
      color: #fff;
      font-weight: 300;
      line-height: 32px;
      font-family: 'Lato', sans-serif; }
    .introduce .overview p {
      margin-top: 45px;
      font-size: 14px;
      color: #fff;
      font-weight: 300;
      line-height: 26px; }
    @media (min-width: 768px) {
      .introduce .overview {
        padding: 95px 0 100px; }
        .introduce .overview h3 {
          font-size: 36px; }
        .introduce .overview p {
          font-size: 17px;
          line-height: 30px;
          margin-top: 50px; } }
    @media (min-width: 1280px) {
      .introduce .overview {
        padding: 150px 0;
        background-position: 50% 50%; } }
  .introduce .future {
    padding: 60px 0 100px;
    border-bottom: 1px solid #dfdfdf;
    background-image: url(/assets/images/introduction/future_xs_bg.png);
    background-repeat: no-repeat;
    background-position: 100% 560px; }
    .introduce .future figure .img-responsive {
      margin: 0 auto;
      box-shadow: 1px 7px 16px 0px rgba(0, 0, 0, 0.2); }
    .introduce .future .article-content {
      margin-top: 55px; }
      .introduce .future .article-content h4 {
        font-size: 36px;
        color: #ee8401;
        line-height: 46px;
        font-weight: 300; }
      .introduce .future .article-content hr {
        margin: 35px 0;
        width: 28px;
        border-top: 1px solid #ee8401; }
      .introduce .future .article-content p {
        font-size: 14px;
        color: #333;
        font-weight: 300;
        line-height: 28px; }
    @media (min-width: 768px) {
      .introduce .future {
        padding-top: 90px;
        background-image: url(/assets/images/introduction/future_sm_bg.png);
        background-position: 100% 115px; }
        .introduce .future figure .img-responsive {
          box-shadow: none; }
        .introduce .future .article-content {
          display: block;
          width: 335px;
          margin: 0 auto;
          margin-top: 90px; }
          .introduce .future .article-content h4 {
            font-size: 46px;
            line-height: 70px; }
          .introduce .future .article-content hr {
            margin: 50px 0; }
          .introduce .future .article-content p {
            font-size: 16px;
            line-height: 38px; } }
    @media (min-width: 1280px) {
      .introduce .future {
        padding: 100px 0 160px;
        background-image: url(/assets/images/introduction/future_lg_bg.png);
        background-position: 100% 108px; }
        .introduce .future .article-content {
          width: 100%;
          display: inline-block;
          padding-left: 60px;
          text-align: left;
          margin-top: 180px; } }
  .introduce .life-science {
    padding: 60px 0 125px;
    background-color: #fff;
    background-image: url(/assets/images/introduction/life_science_xs_bg.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
    .introduce .life-science figure {
      margin-top: 45px; }
      .introduce .life-science figure .img-responsive {
        margin: 0 auto;
        box-shadow: 1px 7px 16px 0px rgba(0, 0, 0, 0.2); }
    .introduce .life-science .article-content {
      text-align: right; }
      .introduce .life-science .article-content h4 {
        font-size: 36px;
        color: #e00014;
        line-height: 46px;
        font-weight: 300; }
      .introduce .life-science .article-content hr {
        display: inline-block;
        margin: 35px 0;
        width: 28px;
        border-top: 1px solid #ee8401; }
      .introduce .life-science .article-content p {
        font-size: 14px;
        color: #333;
        font-weight: 300;
        line-height: 28px; }
    @media (min-width: 768px) {
      .introduce .life-science {
        padding: 100px 0;
        background-image: url(/assets/images/introduction/life_science_sm_bg.png); }
        .introduce .life-science figure {
          margin-top: 80px; }
          .introduce .life-science figure .img-responsive {
            box-shadow: none; }
        .introduce .life-science .article-content {
          display: block;
          width: 335px;
          margin: 0 auto; }
          .introduce .life-science .article-content h4 {
            font-size: 46px;
            line-height: 70px; }
          .introduce .life-science .article-content hr {
            margin: 50px 0; }
          .introduce .life-science .article-content p {
            font-size: 16px;
            line-height: 38px; } }
    @media (min-width: 1280px) {
      .introduce .life-science {
        padding: 135px 0 120px;
        background-image: url(/assets/images/introduction/life_science_lg_bg.png); }
        .introduce .life-science figure {
          margin: 0;
          margin-right: -65px; }
        .introduce .life-science .article-content {
          width: 100%;
          padding-top: 120px;
          padding-right: 70px; } }

.business .article-header {
  text-align: center;
  padding: 50px 0;
  background-image: url(/assets/images/introduction/future_bg.jpg); }
  .business .article-header p {
    font-size: 14px;
    color: #2b2b2b;
    line-height: 28px; }
    .business .article-header p i {
      font-style: normal;
      color: #e61937; }
  @media (min-width: 768px) {
    .business .article-header {
      padding: 80px 0 75px; }
      .business .article-header p {
        font-size: 18px;
        line-height: 32px; } }
  @media (min-width: 992px) {
    .business .article-header {
      padding: 95px 0 105px; }
      .business .article-header p {
        font-size: 20px; } }
.business .article-content {
  padding: 67px 0 88px;
  background-image: url(/assets/images/introduction/business_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%; }
  @media (min-width: 768px) {
    .business .article-content {
      padding: 105px 0 115px; } }
  @media (min-width: 992px) {
    .business .article-content {
      padding: 140px 0 185px; } }
  .business .article-content ul li .figure {
    display: block;
    max-width: 370px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .business .article-content ul li .figure .details {
      height: 160px;
      padding-top: 35px;
      text-align: center;
      background-color: #fff; }
      .business .article-content ul li .figure .details hr {
        display: block;
        margin: 0 auto;
        width: 25px;
        border-top: 2px solid #e00014; }
      .business .article-content ul li .figure .details h3 {
        font-size: 15px;
        color: #333;
        font-weight: 500;
        margin-top: 10px; }
      .business .article-content ul li .figure .details ol {
        margin-top: 28px;
        font-size: 0; }
        .business .article-content ul li .figure .details ol li {
          position: relative;
          display: inline-block;
          font-size: 13px;
          color: #777;
          padding-left: 30px;
          margin-right: 20px; }
          .business .article-content ul li .figure .details ol li:last-child {
            margin-right: 0; }
          .business .article-content ul li .figure .details ol li span {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 10px;
            color: #fff;
            text-align: center;
            border-radius: 50%;
            background-color: #e61937;
            font-family: 'Titillium Web', sans-serif; }
      .business .article-content ul li .figure .details p {
        font-size: 14px;
        color: #777;
        margin-top: 23px;
        line-height: 24px; }
  .business .article-content ul li:last-child .figure {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .business .article-content ul li .figure {
      margin-bottom: 0; }
      .business .article-content ul li .figure .details {
        height: 190px;
        padding-top: 30px; }
        .business .article-content ul li .figure .details ol {
          display: block;
          width: 110px;
          margin: 0 auto;
          margin-top: 25px;
          text-align: left; }
          .business .article-content ul li .figure .details ol li {
            display: block;
            font-size: 14px;
            line-height: 28px;
            margin: 0; }
            .business .article-content ul li .figure .details ol li span {
              top: 5px; } }
  @media (min-width: 992px) {
    .business .article-content ul li .figure .details {
      height: 160px;
      padding-top: 35px; }
      .business .article-content ul li .figure .details h4 {
        font-size: 16px; }
      .business .article-content ul li .figure .details ol {
        text-align: center;
        width: 100%; }
        .business .article-content ul li .figure .details ol li {
          display: inline-block;
          font-size: 15px;
          margin-right: 20px; }
          .business .article-content ul li .figure .details ol li:last-child {
            margin-right: 0; }
      .business .article-content ul li .figure .details p {
        font-size: 15px; } }

.location article {
  background-image: url(/assets/images/introduction/future_bg.jpg); }
  .location article .article-header {
    padding: 45px 0 30px; }
    .location article .article-header .nav {
      border: 0; }
      .location article .article-header .nav li {
        margin: 0;
        width: 50%; }
        .location article .article-header .nav li a {
          font-size: 13px;
          color: #2b2b2b;
          line-height: 45px;
          text-align: center;
          padding: 0;
          margin: 0;
          border-radius: 0;
          border: 1px solid #dfdfdf; }
        .location article .article-header .nav li.active a {
          color: #fff;
          background-color: #f0840c;
          border-color: #f0840c; }
    @media (min-width: 768px) {
      .location article .article-header {
        padding: 65px 0 55px; }
        .location article .article-header .nav {
          width: 585px;
          margin: 0 auto; } }
    @media (min-width: 992px) {
      .location article .article-header {
        padding: 97px 0 80px; } }
  .location article .article-content {
    padding-bottom: 90px; }
    @media (min-width: 768px) {
      .location article .article-content {
        padding-bottom: 140px; } }
    @media (min-width: 992px) {
      .location article .article-content {
        padding-bottom: 130px; } }
    .location article .article-content .tab-content .details {
      margin-bottom: 20px;
      padding: 30px 17px;
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      background-color: #fff; }
      .location article .article-content .tab-content .details ul li {
        position: relative; }
        .location article .article-content .tab-content .details ul li ~ li {
          margin-top: 15px; }
        .location article .article-content .tab-content .details ul li dl dt {
          position: absolute;
          top: 0;
          left: 0;
          width: 100px;
          font-size: 13px;
          line-height: 22px;
          color: #777;
          font-weight: 400; }
          .location article .article-content .tab-content .details ul li dl dt i {
            display: inline-block;
            width: 30px;
            font-size: 15px; }
        .location article .article-content .tab-content .details ul li dl dd {
          font-size: 13px;
          color: #666;
          font-weight: 400;
          line-height: 22px;
          padding-left: 100px; }
          .location article .article-content .tab-content .details ul li dl dd a {
            text-decoration: none; }
      @media (min-width: 768px) {
        .location article .article-content .tab-content .details {
          margin-bottom: 35px;
          padding: 40px 38px; }
          .location article .article-content .tab-content .details ul li dl dt {
            width: 120px;
            font-size: 15px; }
          .location article .article-content .tab-content .details ul li dl dd {
            padding-left: 120px;
            font-size: 15px; } }
      @media (min-width: 992px) {
        .location article .article-content .tab-content .details {
          margin-bottom: 25px;
          padding: 40px 44px; }
          .location article .article-content .tab-content .details ul li dl dt {
            width: 130px; }
          .location article .article-content .tab-content .details ul li dl dd {
            padding-left: 130px; } }

/*# sourceMappingURL=introduction.css.map */
