
.icon-down-micro:before { content: '\e800'; } /* '' */
.icon-up-micro:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */